.update-node-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.update-node-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    padding: 10px;
}

.update-node-field {
    align-items: center;
    display: flex;
    gap: 10px;
}

.update-node-input {
    flex: 1;
}

.action-bar {
    display: flex;
    justify-content: space-between;
}
