.modal-wrapper {
    background-color: var(--background);
    border: 1px solid var(--primary);
    border-radius: 5px;
    color: var(--text);
    height: 150px;
    position: absolute;
    width: 400px
}

.modal-arrow {
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-right: 16px solid var(--primary);
    left: -16px;
    height: 0;
    position: absolute;
    top: calc(50% - 16px);
    width: 0;
}