.modal-wrapper {
    background-color: var(--background);
    border: 1px solid var(--primary);
    border-radius: 5px;
    color: var(--text);
    height: 150px;
    position: absolute;
    width: 400px;
}

.modal-arrow {
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-right: 16px solid var(--primary);
    left: -16px;
    height: 0;
    position: absolute;
    top: calc(50% - 16px);
    width: 0;
}

.modal-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;
}

.modal-header {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.modal-title {
    color: var(--text);
    flex: 1;
    font-size: 20px;
}

.modal-actions {
    align-items: flex-end;
    display: flex;
}

.modal-body {
    flex: 1;
}
