.icon-button {
    align-items: center;
    background-color: var(--primary);
    border: 1px solid var(--secondary);
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.icon-button.small {
    font-size: 12px;
    height: 20px;
    width: 20px;
}
.icon-button.medium {
    font-size: 20px;
    height: 36px;
    width: 36px;
}
.icon-button.large {
    font-size: 26px;
    height: 48px;
    width: 48px;
}